<aside class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">راهکارهای نوآورانه برای رفع مشکلات صنعت</h2>
                <hr class="light">
                <p class="text-faded">مؤسسۀ بین‌المللی المان با یک هدف بزرگ هدایت می‌شود:<br>ساختن دنیایی بهتر به وسیلۀ نوآوری، تحقیقات، و آموزش.</p>
                <a class="btn btn-default btn-xl page-scroll" href="#contact">شروع کنید!</a>
            </div>
        </div>
    </div>
</aside>
