<section id="ipc-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">برای اولین بار در ایران: پلیمر بتن عایق (IPC)</h2>
                <p class="text-muted">راهی نوین برای بهینه‌سازی مصرف انرژی و افزایش سرعت ساخت</p>

                <h3>با وزن‌های مخصوص (دانسیته‌های) گوناگون</h3>
                <ul>
                    <li><mark style="background-color:gold;">TODO</mark></li>
                    <li></li>
                </ul>

                <h3>در اشکال گوناگون</h3>
                <ul>
                    <li>قطعات بلوک پیش‌ساخته (دیوار جانبی و جدا کننده)
                        <ul>
                            <li>کوچک (ضخامت ۱۰ سانتی‌متر)</li>
                            <li>متوسط (ضخامت ۱۲ سانتی‌متر)</li>
                            <li>بزرگ (ضخامت ۱۵ سانتی‌متر)</li>
                        </ul>
                    </li>

                    <li>پنل‌های پیش‌ساخته مسلح و سبک (سقف و دیوار)
                        <ul>
                            <li>ابعاد مختلف</li>
                            <li>اشکال مختلف</li>
                        </ul>
                    </li>
                </ul>

                <h3>مزایا</h3>
                <ol>
                    <li>صرفه‌جویی بسیار با استفاده از فن‌آوری نوین جهانی</li>
                    <li>عایق صدا و صرفه‌جویی در انرژی</li>
                    <li>عایق گرما، سرما و رطوبت</li>
                    <li>مقاوم در برابر آتش‌سوزی</li>
                    <li>سبک، نصب آسان و انتقال آسان به طبقات</li>
                    <li>مقاوم در برابر زلزله و موج انفجار</li>
                    <li>کاهش هزینۀ حمل و نقل و فونداسیون</li>
                    <li>کارکرد آسان و قابلیت اجرا با هر نوع اندود</li>
                    <li>پیشرفت سریع کار و کاهش زمان اجرا</li>
                    <li>قیمت مناسب در مقایسه با مصالح سنتی و کاهش وزن سازه</li>
                    <li>صرفه‌جویی در هزینۀ اسکلت به دلیل کاهش بار مردۀ ساختمان</li>
                    <li>امکان اجرا در سراسر کشور و در آب و هواهای گوناگون</li>
                    <li>بهترین جایگزین مصالح قدیمی با استحکام زیاد و امتیازهای محیط زیستی</li>
                </ol>

                <a href="/fa/ipc-polymer-beton" class="btn btn-primary btn-xl">اطلاعات بیشتر</a>
            </div>
        </div>
    </div>
</section>
