<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
					<i class="fal fa-gem fa-4x text-primary" data-aos="animate__flip" data-aos-delay="{{ site.data.settings.aos-delay-services | times: 0 }}"></i>
                    <h3>Unrivaled Technology</h3>
                    <p class="text-muted">Research and development (R&D) is the beating heart of Eleman International.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fad fa-paper-plane fa-4x text-primary" data-aos="animate__fadeInBottomLeft" data-aos-delay="{{ site.data.settings.aos-delay-services | times: 1 }}"></i>
                    <h3>Ready to Implement</h3>
                    <p class="text-muted">Our technologies are ready for implementation when you are! All solutions are adaptable to your projects.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fal fa-newspaper fa-4x text-primary" data-aos="animate__rotateIn" data-aos-delay="{{ site.data.settings.aos-delay-services | times: 2 }}"></i>
                    <h3>State of The Art</h3>
                    <p class="text-muted">Developed by some of the world's most pre-eminent scientists, Eleman International's technologies are constantly pushing the boundaries of the industry.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-heart fa-4x text-primary" data-aos="animate__bounceIn" data-aos-delay="{{ site.data.settings.aos-delay-services | times: 3 }}"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">By research teams around the globe: North America, Europe, and Asia.</p>
                </div>
            </div>
        </div>
    </div>
</section>
