{% assign this = site.data.content.contact %}
{% assign lg = page.lang %}

<section id="contact">
    <div class="container">
        <div class="row text-center">
            
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">{{ this.heading[lg] }}</h2>
                <hr class="primary">
                <p>{{ this.text[lg] }}</p>
            </div>
            
            <div class="col-lg-2 col-lg-offset-2">
                <a id="email" href="mailto:honeypot" onmouseover="reveal(this)" ontouchstart="reveal(this)">
                    <i class="fad fa-envelope" data-aos="animate__fadeIn"></i>
                    <p>{{ this.email.bot-defense-text[lg] }}</p>
                </a>
            </div>

            <div class="col-lg-2">
                <a id="mobile" href="tel:+98" onmouseover="reveal(this)" ontouchstart="reveal(this)">
                    <i class="fad fa-mobile" data-aos="animate__fadeIn"></i>
                    <p>{{ this.mobile.bot-defense-text[lg] }}</p>
                </a>
            </div>
			
            <div class="col-lg-2">
                <a id="phone" href="tel:+98" onmouseover="reveal(this)" ontouchstart="reveal(this)">
                    <i class="fad fa-phone" data-aos="animate__fadeIn"></i>
                    <p>{{ this.phone.bot-defense-text[lg] }}</p>
                </a>
            </div>

            {% if this.linkedin %}
            <div class="col-lg-2">
                <a href="https://www.linkedin.com/company/{{ this.linkedin }}">
                    <i class="fab fa-linkedin" data-aos="animate__fadeIn"></i>
                    <p>{{ this.linkedin }}</p>
                </a>
            </div>
            {% endif %}

            {% if this.twitter %}
            <div class="col-lg-2">
                <a href="https://twitter.com/{{ this.twitter }}">
                    <i class="fab fa-twitter" data-aos="animate__fadeIn"></i>
                    <p>{{ this.twitter }}</p>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>


<script type="module">
/* Each module has its own top-level scope. To make the *reveal()* function global so that *onmouseover* can access it,
we have defined the function as a property of the *window* object. In a web browser, the *window* object is the global object.

Alternatively, you can remove the type="module" attribute from the <script> element. In that case, all the variables and functions
defined in the <script> element will have a global scope. However, modules are always deferred, and that's why we have used a module here.
*/
window.reveal = function(element) {
  if (element.id == "email") {
    const ADDRESS = "{{ this.email.hello }}" + String.fromCharCode(64) + "{{ this.email.domain }}";
    element.getElementsByTagName("p")[0].innerHTML = ADDRESS;
    element.href = ":otliam".split("").reverse().join("") + ADDRESS;
  } else if (element.id == "mobile") {
      element.style = "direction: ltr;";  // This is necessary for Persian pages, and uneffective on English pages.
      element.getElementsByTagName("p")[0].innerHTML = "{{ this.mobile[lg] }}".split("").reverse().join("");
      element.href = "{{ this.mobile.url }}".split("").reverse().join("");
  } else if (element.id == "phone") {
    element.style = "direction: ltr;";  // This is necessary for Persian pages, and uneffective on English pages.
	element.getElementsByTagName("p")[0].innerHTML = "{{ this.phone[lg] }}".split("").reverse().join("");
    element.href = "{{ this.phone.url }}".split("").reverse().join("");
  }
};
</script>
