{% capture page_name %}{{ page.name | downcase | remove: ".md" | remove: ".html" }}{% endcapture %}
{% assign this = site.data.content[page_name].header %}
{% assign lg = page.lang %}

<header {% if include.compact %}class="compact"{% endif %}>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ this.title[lg] }}</h1>
            <hr>
			<h3>{{ this.subtitle[lg] }}</h3>
			<br>
            {% if this.button.href %}
            <a href="{{ this.button.href }}" class="btn btn-primary btn-xl page-scroll">{{ this.button.label[lg] }}</a>
            {% endif %}
        </div>
    </div>
</header>
