@mixin transition-all() {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @include transition-all;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    color: $color;
    background-color: darken($background, 5%);
    border-color: darken($border, 7%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Fonts
// A *display* typeface is used for headings, as opposed to the *body* text.
@mixin display-font-en() {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin body-font-en() {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

@mixin display-font-fa() {
  font-family: IranYekan, IranSans, Vazir, Samim;
}

@mixin body-font-fa() {
  font-family: Samim, Vazir, IranSans, IranYekan, IranSansDN, Shabnam, Nahid, Parastoo, Sahel;
}
