---
layout: page
lang: fa
---
<section id="ipc-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="section-heading">برای اولین بار در ایران:<br>پلیمر بتن عایق (IPC)</h1>
                <p class="text-muted">تحولی عظیم در صنعت ساختمان</p>

                <ul class="fa-bullet">
                    <li><i class="fad fa-gem"></i>پنل‌ها و قطعات باربر پلیمر بتن عایق</li>
                    <li><i class="fad fa-gem"></i>بهترین مصالح ساختمانی موجود برای بهینه‌سازی مصرف انرژی</li>
                    <li><i class="fad fa-gem"></i>افزایش سرعت ساخت با بهره‌گیری از فن‌آوری نوین ساختمانی</li>
                    <li><i class="fad fa-gem"></i>مقاوم، عایق صدا، عایق حرارت و برودت</li>
                    <li><i class="fad fa-gem"></i>وزن مخصوص از ۴۰۰ تا ۱۵۰۰ کیلوگرم بر متر مکعب</li>
                    <li><i class="fad fa-gem"></i>محصولی از مؤسسۀ بین‌المللی تحقیقات صنعتی و تولیدی المان</li>
                </ul>
                
                <table id="" class="table table-hover">
                    <caption>مشخصات مقاومت ۲۸ روزۀ بتن IPC</caption>
                    <tr>
                        <th>شمارۀ ترکیب</th>
                        <th>وزن مخصوص (kg/m<sup>3</sup>)</th>
                        <th>قدرت مطلق ارتجاعی (MPa)</th>
                        <th>قدرت کششی (MPa)</th>
                        <th>قدرت خمشی (MPa)</th>
                        <th>هدایت گرمایی نسبت به بتن معمولی</th>
                        <th>مقاومت فشاری (kg/cm<sup>2</sup>)</th>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>400</td>
                        <td>–</td>
                        <td>0.50</td>
                        <td>–</td>
                        <td>0.08</td>
                        <td>10–14</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>600</td>
                        <td>700</td>
                        <td>0.70</td>
                        <td>0.50</td>
                        <td>0.12</td>
                        <td>15–21</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>800</td>
                        <td>2,700</td>
                        <td>0.80</td>
                        <td>1</td>
                        <td>0.22</td>
                        <td>24–33</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>1,000</td>
                        <td>3,500</td>
                        <td>0.90</td>
                        <td>1.50</td>
                        <td>0.31</td>
                        <td>40–56</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>1,200</td>
                        <td>9,500</td>
                        <td>1.1</td>
                        <td>2.35</td>
                        <td>0.4</td>
                        <td>58–81</td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td>1,500</td>
                        <td>10,560</td>
                        <td>1.2</td>
                        <td>2.55</td>
                        <td>0.55</td>
                        <td>69–90</td>
                    </tr>
                </table>
                <p><strong>توجه:</strong> مقاومت فشاری بستگی به دانه‌های EPS نیز دارد که با وزن مخصوص ویژه، تا ۴۰ درصد متغیر است.</p>

                <table id="" class="table table-hover">
                    <caption>میزان عبور صدا از دیوار IPC با ضخامت ۱۵ سانتی‌متر و دانسیته ۶۰۰ کیلوگرم بر متر مکعب</caption>
                    <tr>
                        <th>نوع صدا</th>
                        <th>شدت صوت (dB)</th>
                        <th>میزان نفوذ صدا (درصد)</th>
                    </tr>
                    <tr>
                        <td>نسیم در برگ درختان</td>
                        <td>20</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>تلویزیون همسایه</td>
                        <td>30</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>خیابان خلوت در شب</td>
                        <td>40</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>پارکینگ عمومی</td>
                        <td>50</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>مدارس و ادارات</td>
                        <td>60</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>ترافیک شهری</td>
                        <td>70</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>مترو</td>
                        <td>90</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>موتورسیکلت</td>
                        <td>95</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>آهنگری</td>
                        <td>100</td>
                        <td>15%</td>
                    </tr>
                    <tr>
                        <td>پیست مسابقات و استادیوم‌ها</td>
                        <td>110</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>بلند شدن هواپیمای جت و کنکورد (از ۲۰۰ متری)</td>
                        <td>130</td>
                        <td>30%</td>
                    </tr>
                    <tr>
                        <td>ترقۀ آتش‌بازی</td>
                        <td>150</td>
                        <td>35%</td>
                    </tr>
                </table>
                <p><strong>توجه:</strong> صدای بالاتر از ۷۰ دسی‌بل در مدت زمان طولانی موجب آسیب شنوایی می‌شود. صدای بالای ۱۲۰ دسی‌بل می‌تواند بلافاصله موجب آسیب شنوایی شود.</p>

                <h2>چه باید کرد؟</h2>
                <p>امروزه پیشرفت‌های تکنولوژیکی راه حل بهتری را پیش پای شما قرار داده است.</p>
                <ul class="fa-bullet">
                    <li><i class="fad fa-check"></i>اگر می‌خواهید عمر مفید ساختمان شما زیادتر شود،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید مقاومت و استحکام بیشتری در طبقات ساختمان داشته باشید،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید در صورت وقوع آتش‌سوزی، آتش به واحدهای مجاور و طبقات نفوذ نکند،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید در مقابل زمین‌لرزه‌ها با اطمینان خاطر زندگی کنید،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید در هنگام وقوع زلزله، ساختمان شما با قدرت کامل ایستادگی کند،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید گرد و خاک مصالح قدیمی آزارتان ندهد،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید محل کار یا زندگی شما بدون سر و صدا باشد،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید پشت‌بام شما در برابر گرمای ناشی از تابش شدید آفتاب عایق باشد،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید در طبقات آخر احساس گرما و سرما نکنید،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید ساختمان شما در برابر یخ‌زدگی مقاوم باشد،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید از نفوذ آب‌های آلوده و نشت رطوبت در طبقات جلوگیری کنید،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید هنگام تعمیرات در ساختمان، مشکلی در کف طبقات نداشته باشید،</mark></li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید ساختمان شما دارای خاصیت آکوستیکی و آنتی‌استاتیکی باشد،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید مشکلات محیط زیستی نداشته باشید،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید ساختمان شما با یک مادۀ فسادناپذیر ساخته شود،</li>
                    <li><i class="fad fa-check"></i>اگر می‌خواهید وزن کلی ساختمان شما به طور قابل ملاحظه کاهش یابد و ساختمانتان دیرتر فرسوده و خسته شود،</li>
                </ul>
                <p class="text-center">حتماً از مهندسین و پیمانکاران خود بخواهید که ساختمان شما را با پلیمر بتن عایق IPC بسازند.</p>
                <p class="text-center">امکان اجرای سریع در تمامی نقاط کشور</p>
            </div>
        </div>
    </div>
</section>

{% include {{ page.lang | append: "/call-to-action-dark.html" }} %}
{% include {{ page.lang | append: "/call-to-action.html" }} %}
