<!DOCTYPE html>
<html lang="{{ page.lang }}" {% if page.lang == "fa" %}dir="rtl"{% endif %}>

{% include head.html %}

<body id="page-top">
{% include {{ page.lang | append: "/nav.html" }} %}
{% include {{ page.lang | append: "/header.html" }} %}
{% include {{ page.lang | append: "/call-to-action.html" }} %}
{% include {{ page.lang | append: "/services.html" }} %}
{% include {{ page.lang | append: "/portfolio.html" }} %}
{% include {{ page.lang | append: "/aside.html" }} %}
{% include {{ page.lang | append: "/contact.html" }} %}

{% include scripts.html %}
</body>

</html>
