<!DOCTYPE html>
<html lang="{{ page.lang }}" {% if page.lang == "fa" %}dir="rtl"{% endif %}>
    {% include head.html %}

    <body id="page-top">
        {% include nav.html %}
        {% include header.html %}
        {% include story.html content="ipc-intro" %}
        {% include call-to-action.html %}
        {% include services.html %}
        {% include portfolio.html %}
        {% include call-to-action-dark.html %}
        {% include contact.html %}

        {% include scripts.html %}
    </body>
</html>
